<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

 <!-- JQueryUI CSS -->

 <link href="/lib/jquery-ui.css" rel="stylesheet">
  <!-- JQueryUI.theme CSS -->
  <link href="/lib/jquery-ui.theme.css" rel="stylesheet">
   <!-- JQueryUI.structure CSS -->
 <link href="/lib/jquery-ui.structure.css" rel="stylesheet">

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/fdfd7a3dd8.js" crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
    <link href="/heroes.css" >
    <!-- Libary Scrolling Effects -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <!-- Hamburgermenu animated -->
    <link  href="/css/hamburgermenu.css">
 <!-- intl-tel-input für internationales Telefonnummer Format im Formular-->
    <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
   />
    <!-- Own CSS jetztanmelden-->
    <link rel="stylesheet" href="/css/jetztanmelden.css">
    <!-- Own CSS -->
    <link rel="stylesheet" href="/css/index.css">
 <!-- TODO: GOOGLE FONT SPÄTER LOKAL -->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=EB+Garamond:ital,wght@0,400;1,500&family=Lato:ital,wght@0,400;0,700;1,300&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500;1,600&family=Reenie+Beanie&display=swap" rel="stylesheet"> <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500;1,600&family=Reenie+Beanie&display=swap" rel="stylesheet">
    <title>Chalet Petit</title>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Font Test-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lora&family=Vibur&display=swap"
        rel="stylesheet">

</head>

<body>
