  <!-- HERO-->

  <section id="hero">

    <div class=" px-4 py-5  text-center hero-image">
      <div data-aos-duration="2000" data-aos="fade-up"
        class="  m-5 d-flex flex-column align-items-center justify-content-center ">
        <!-- <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->

        <h1 class="display-5 pt-5  mt-5">Chalet Petit</h1>
        <p >Ski-in, Ski-out und ab in den Hotpot!</p>
        <div class="col-lg-6 mx-auto">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" data-bs-toggle="offcanvas"
              data-bs-target="#jetztanfragen" aria-controls="jetztanfragen">Jetzt Anfragen!</button>
          </div>
        </div>
      </div>
    </div>

  </section>



 
  